@import url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css');
.petfinder-header-container{
  border-top:2px solid #ffa500;
  border-bottom:2px solid #ffa500;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
}

.legend{

}

label{
  color:black;
}
.petfinder-container{
  border-radius:5px;
  border:2px solid #ffa500;
  margin: auto;
  padding-top:10px;
  width:90%;
}

.petfinder-container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.petfinder-info-symbols{
  text-align:center;
}

.petfinder-container p {
  margin-bottom:1px;
}


.petfinder-rabbit-title {
  margin-top:5px;
  font-size:1.5em;
  line-height:1em;
  text-align:center;
  padding-bottom:10px;
  color:#ffa500;
}

.petfinder-rabbit-title:hover{
  text-decoration: underline;
}

.female{
  color:pink;
}

.male{
  color:blue;
}
